body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  background-image: url('../images/bruno_bg.jpg');
  background-size: cover;
  background-position: center;
}
